/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

#search-field {
  width: 272px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}

#search-field:hover {
  border-color: #000000;
  outline: transparent;
}

#search-field:focus {
  outline: transparent;
  border-color: #4e75ff;
}

button {
  width: 91px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
}

button:hover,
button:focus {
  background-color: #6c8cff;
  outline: transparent;
}